@* Page displaying a list of Chances *@
@page "/chances"
@inject IChanceService ChanceService
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@* Only to be accessed by Admin and Manager roles*@
@attribute [Authorize(Roles = "Admin, Manager")]
@using Microsoft.AspNetCore.Authorization;
@using fairSlots.Shared

<Animation AnimationSelected="@selectedAnimation">
<PageTitle>Chances</PageTitle>

<h1 style="color:white">Chances</h1>

@if (ChanceService.Chances == null)
{
    <p style="color:white"><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr style="color:white">
                <th>Player ID</th>
                <th>Update Time</th>
                <th>Win Rate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chance in ChanceService.Chances)
            {
                <tr style="color:white">
                    <td>
                        @chance.PlayerID
                    </td>
                    <td>
                        @chance.UpdateTime
                    </td>
                    <td>
                        @chance.WinRate
                    </td>
                    <td>
                        @* Edit button only viewable by Admin*@
                        <AuthorizeView Roles="Admin">
                        <button class="btn btn-primary" @onclick="(() => ShowChance(chance.PlayerID))"><i class="oi oi-pencil"></i></button>
                        </AuthorizeView>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
</Animation>

@code {
    public string selectedAnimation = "";
    protected override async Task OnInitializedAsync()
    {
        selectedAnimation = Animations.slideDown;
        await ChanceService.GetChances();
    }

    void ShowChance(int id)
    {
        NavigationManager.NavigateTo($"chance/{id}");
    }

    void CreateNewChance()
    {
        NavigationManager.NavigateTo("/chance");
    }

}