@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using fairSlots.Shared.Models
@attribute [Authorize]
@inject HttpClient Http

<PageTitle>Game History</PageTitle>

<h1 style="color:white">Game History</h1>

<p style="color:white">This component demonstrates fetching data from the server.</p>

@if (histories == null)
{
    <p style="color:white"><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr style="color:white">
                <th>Date</th>
                <th>Game Number</th>
                <th>Funds</th>
                <th>Bet Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var history in histories)
            {
                <tr style="color:white">
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private GameHistory[]? histories;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            histories = await Http.GetFromJsonAsync<GameHistory[]>("GameHistory");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
