@page "/gamehistory"

<PageTitle>Game History</PageTitle>

<h3>Game History</h3>

<table class="="table>
    <thead>
        <tr>
            <th>Game ID</th>
            <th>User ID</th>
            <th>Date</th>
            <th>Funds</th>
            <th>Win</th>
            <th>Bet Amount</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@code {

}
