@page "/gamehistory"
@inject IGameService GameService
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager NavigationManager
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization;
@using fairSlots.Shared
@using fairSlots.Server.Data

<PageTitle>Game History</PageTitle>

<Animation AnimationSelected="@selectedAnimation">
    <h1 style="color:white">Game History</h1>

    string BetString = "";

    @if (GameService.Games == null)
    {
        <p style="color:white"><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr style="color:white">
                    <th>Game ID</th>
                    <th>Player</th>
                    <th>Date</th>
                    <th>Funds</th>
                    <th>Bet Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in GameService.Games)
                {
                    <tr style="color:white">
                        <td>
                            @game.GameID
                        </td>
                        <td>
                            @game.PlayerID
                        </td>
                        <td>
                            @game.Date
                        </td>
                        <td>
                            $@game.Funds
                        </td>
                        <td>
                            @if (game.Win == true)
                            {
                        <tr style="color:limegreen">
                            +$@game.BetAmount
                        </tr>
                            }
                            else
                            {
                        <tr style="color:red">
                            -$@game.BetAmount
                        </tr>
                            }
                    </td>
                <td>
                    <button class="btn btn-primary" @onclick="(() => ShowGame(game.GameID))"><i class="oi oi-pencil"></i></button>
                </td>
                </tr>
                }
            </tbody>
        </table>
        <button class="btn btn-primary" @onclick="CreateNewGame">Create New Game</button>
}
</Animation>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GameService.GetGames();
    }

    void ShowGame(int id)
    {
        NavigationManager.NavigateTo($"gamemod/{id}");
    }

    void CreateNewGame()
    {
        NavigationManager.NavigateTo("/gamemod");
    }

    public string selectedAnimation = "";
    protected override void OnInitialized()
    {
        selectedAnimation = Animations.slideDown;
    }

}